{#
/**
 * @file
 * Theme override to display a region.
 *
 * Available variables:
 * - content: The content for this region, typically blocks.
 * - attributes: HTML attributes for the region <div>.
 * - region: The name of the region variable as defined in the theme's
 *   .info.yml file.
 *
 * @see template_preprocess_region()
 */
#}
{% if if_secondary_site_title %}
  {% if if_secondary_site_link %}
    <a slot="primary-unit" href="{{ if_secondary_site_link }}">{{ if_secondary_site_title }}</a>
  {% else %}
    <a slot="primary-unit" href="#">{{ if_secondary_site_title }}</a>
  {% endif %}
{% endif %}
<a slot="site-name" href="/">{{ drupal_config('system.site', 'name') | raw }}</a>
<nav slot="social" aria-label="Social media">
  <ul>
    {% if if_footer['if_footer_social']['if_footer_social_instagram'] %}
      <li><a data-service="instagram" href="{{ if_footer['if_footer_social']['if_footer_social_instagram'] }}">Instagram</a></li>
    {% endif %}
    {% if if_footer['if_footer_social']['if_footer_social_facebook'] %}
      <li><a data-service="facebook" href="{{ if_footer['if_footer_social']['if_footer_social_facebook'] }}">Facebook</a></li>
    {% endif %}
    {% if if_footer['if_footer_social']['if_footer_social_twitter'] %}
      <li><a data-service="x" href="{{ if_footer['if_footer_social']['if_footer_social_twitter'] }}">x</a></li>
    {% endif %}
    {% if if_footer['if_footer_social']['if_footer_social_youtube'] %}
      <li><a data-service="youtube" href="{{ if_footer['if_footer_social']['if_footer_social_youtube'] }}">YouTube</a></li>
    {% endif %}
    {% if if_footer['if_footer_social']['if_footer_social_linkedin'] %}
      <li><a data-service="linkedin" href="{{ if_footer['if_footer_social']['if_footer_social_linkedin'] }}">LinkedIn</a></li>
    {% endif %}
    {% if if_footer['if_footer_social']['if_footer_social_bluesky'] %}
      <li><a data-service="bluesky" href="{{ if_footer['if_footer_social']['if_footer_social_bluesky'] }}">Bluesky</a></li>
    {% endif %}
    {% if if_footer['if_footer_social']['if_footer_social_calendar'] %}
      <li><a data-service="calendar" href="{{ if_footer['if_footer_social']['if_footer_social_calendar'] }}">Calendar</a></li>
    {% endif %}
    {% if if_footer['if_footer_social']['if_footer_social_tiktok'] %}
      <li><a data-service="tiktok" href="{{ if_footer['if_footer_social']['if_footer_social_tiktok'] }}">TikTok</a></li>
    {% endif %}
    {% if if_footer['if_footer_social']['if_footer_social_pinterest'] %}
      <li><a data-service="pinterest" href="{{ if_footer['if_footer_social']['if_footer_social_pinterest'] }}">Pinterest</a></li>
    {% endif %}
    {% if if_footer['if_footer_social']['if_footer_social_snapchat'] %}
      <li><a data-service="snapchat" href="{{ if_footer['if_footer_social']['if_footer_social_snapchat'] }}">Snapchat</a></li>
    {% endif %}
    {% if if_footer['if_footer_social']['if_footer_social_weibo'] %}
      <li><a data-service="weibo" href="{{ if_footer['if_footer_social']['if_footer_social_weibo'] }}">Weibo</a></li>
    {% endif %}
    {% if if_footer['if_footer_social']['if_footer_social_whatsapp'] %}
      <li><a data-service="whatsapp" href="{{ if_footer['if_footer_social']['if_footer_social_whatsapp'] }}">WhatsApp</a></li>
    {% endif %}
    {% if if_footer['if_footer_social']['if_footer_social_threads'] %}
      <li><a data-service="threads" href="{{ if_footer['if_footer_social']['if_footer_social_threads'] }}">Threads</a></li>
    {% endif %}
  </ul>
</nav>
<address slot="address">
  <p>
    {% if if_footer['if_footer_address']['if_footer_address_street_one'] %}
      {{ if_footer['if_footer_address']['if_footer_address_street_one'] }}
    {% endif %}
  </p>
  {% if if_footer['if_footer_address']['if_footer_address_street_two'] %}
    <p>{{ if_footer['if_footer_address']['if_footer_address_street_two'] }}</p>
  {% endif %}
  <p>
    {% if if_footer['if_footer_address']['if_footer_address_city'] %}
      {{ if_footer['if_footer_address']['if_footer_address_city'] }},
    {% endif %}
    {% if if_footer['if_footer_address']['if_footer_address_state'] %}
      {{ if_footer['if_footer_address']['if_footer_address_state'] }}
    {% endif %}
    {% if if_footer['if_footer_address']['if_footer_address_zip'] %}
      {{ if_footer['if_footer_address']['if_footer_address_zip'] }}
    {% endif %}
  </p>
  {% if if_footer['if_footer_address']['if_footer_address_tel'] %}
    <p><a href="tel:{{ if_footer['if_footer_address']['if_footer_address_tel'] }}">{{ if_footer['if_footer_address']['if_footer_address_tel'] }}</a></p>
  {% endif %}
  {% if if_footer['if_footer_address']['if_footer_address_email'] %}
    <p>Email: <a href="mailto:{{ if_footer['if_footer_address']['if_footer_address_email'] }}">{{ if_footer['if_footer_address']['if_footer_address_email'] }}</a></p>
  {% endif %}
  {% if if_footer_colleges %}
    <div class="footer-colleges">
      {% for item in if_footer_colleges %}
        {% if if_footer_colleges[loop.index0][0] != "" %}
          {% set title = if_footer_colleges[loop.index0][0] %}
          {% set url = if_footer_colleges[loop.index0][1] %}
          <div><a href="{{ url }}">{{ title }}</a></div>
        {% endif %}
      {% endfor %}
    </div>
  {% endif %}
</address>
<div slot="actions">
  {% for subfooter_link in if_subfooter %}
    {% set link = if_subfooter[loop.index0][1] %}
    {% set text = if_subfooter[loop.index0][0] %}
    {% if link != NULL or text != NULL %}
      <a href="{{ link }}">{{ text }}</a>
    {% endif %}
  {% endfor %}
  <a href="{{ login_logout_url }}" rel="nofollow">{{ login_logout_text }}</a>
</div>
<div class="footer-menus">
  <div>
    {% if drupal_entity('block', 'footermenufirst') %}
      <nav aria-label="Campus Footer Links">{{ drupal_entity('block', 'footermenufirst') }}</nav>
    {% endif %}
    {% if drupal_entity('block', 'footermenusecond') %}
      <nav aria-label="Campus Footer Links 2">{{ drupal_entity('block', 'footermenusecond') }}</nav>
    {% endif %}
  </div>
  <div>
    {% if drupal_entity('block', 'footermenuthird') %}
      <nav aria-label="Campus Footer Links 3">{{ drupal_entity('block', 'footermenuthird') }}</nav>
    {% endif %}
    {% if drupal_entity('block', 'footermenufourth') %}
      <nav aria-label="Campus Footer Links 4">{{ drupal_entity('block', 'footermenufourth') }}</nav>
    {% endif %}
  </div>
</div>
{% if if_footer_google_translate ?? true %}
  <div class="google-translate-wrapper">
    <div id="google_translate_element"></div>
  </div>
  <script>
    function googleTranslateElementInit() {
      new google.translate.TranslateElement({
        pageLanguage: 'en',
        layout: google.translate.TranslateElement.InlineLayout.SIMPLE,
        autoDisplay: false
      }, 'google_translate_element');
    }
  </script>
  <script src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit" defer></script>
{% endif %}
